<div fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="sub-title-text bold">Gratuity/ Leave Encashment Declaration</div>
    <button mat-flat-button type="button" class="primary-btn" (click)="openDeclarationPopup()">Declaration</button>
  </div>

  <!-- <div *ngIf="dataSource.length == 0" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
    <p>Start adding details regarding Gratuity/Leave Encashment</p>
    <button mat-flat-button type="button" class="primary-btn">Add Details</button>
  </div> -->

  <div class="scrollable-content" [style.overflow]="'auto'" [style.max-height.px]="'200'">
    <table mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0; else noContent" class="table-border">
      <ng-container matColumnDef="prev_employer">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Previous Employer</th>
        <td mat-cell *matCellDef="let element"> {{element.previousEmployer}} </td>
      </ng-container>
      <ng-container matColumnDef="from_date">
        <th mat-header-cell *matHeaderCellDef class="primary-text">From Date</th>
        <td mat-cell *matCellDef="let element"> {{element.fromDate}} </td>
      </ng-container>
      <ng-container matColumnDef="to_date">
        <th mat-header-cell *matHeaderCellDef class="primary-text">To Date</th>
        <td mat-cell *matCellDef="let element"> {{element.toDate}} </td>
      </ng-container>
      <ng-container matColumnDef="gratuity_amt">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Gratuity Exempted Amt.</th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>
      <ng-container matColumnDef="encashment_amt">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Leave Encashment Exempted Amt.</th>
        <td mat-cell *matCellDef="let element"> {{element.leaveEncashmentAmount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-template #noContent>
      <div class="pt-15">No data Available</div>
  </ng-template>
  </div>

  <p>To update previous employer details please
    <!-- Example Router link -->
    <!--  [routerLink]="['/leave-and-attendance/teamReportSelf']" -->
    <a class="anchor-text" (click)="openComingSoon()">Click Here</a>.</p>

</div>