<div class="contact-details-edit">
  <div
    fxLayout="column"
    class="outline-input no-label"
    fxLayoutGap="5px"
    fxFlex="50"
  >
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <label fxFlex="40" class="primary-text">Corporate Number:</label>
      <mat-form-field fxFlex="60" appearance="outline">
        <input type="text" matInput />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <label fxFlex="40" class="primary-text">Personal Phone Number:</label>
      <mat-form-field fxFlex="60" appearance="outline">
        <input type="text" matInput />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <label fxFlex="40" class="primary-text">Residential Phone Number:</label>
      <mat-form-field fxFlex="60" appearance="outline">
        <input type="text" matInput />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <label fxFlex="40" class="primary-text">Official Mail ID:</label>
      <mat-form-field fxFlex="60" appearance="outline">
        <input type="text" matInput />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <label fxFlex="40" class="primary-text">Office Phone Number:</label>
      <mat-form-field fxFlex="60" appearance="outline">
        <input type="text" matInput />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <label fxFlex="40" class="primary-text">Personal Mail ID:</label>
      <mat-form-field fxFlex="60" appearance="outline">
        <input type="text" matInput />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="15px" class="mt-30" fxFlexAlign="flex-end">
      <button type="button" mat-flat-button class="primary-btn">
        Save Draft
      </button>
      <button type="submit" mat-flat-button class="primary-btn">
        Submit and Certify
      </button>
    </div>
  </div>
</div>
