<div class="address-information-component">
    <div fxLayout="column" fxLayoutGap="30px">
        <app-sub-header-card [headerText]="'Address'" [icons]="iconsSub" (actionEvent)="editAddressModal()">
        </app-sub-header-card>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="50" class="separator-right">
                <p class="primary-text mb-5">Work Location</p>
                <p>Reliance Corporate IT Park, RT Thane Belapur Road, Ghansoli Mumbai RCP, Maharashtra 400701.
                </p>
            </div>
            <div fxFlex="50">
                <p class="primary-text mb-5">Permanent Address</p>
                <p>11th, Road, Thane Belapur, Thane, Navi Mumbai</p>
            </div>
        </div>

        <!-- <div fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="50" class="separator-right">
                <p class="primary-text mb-5">Present Address</p>
                <p>11th, Road, Thane Belapur, Thane, Navi Mumbai</p>
            </div>
            <div fxFlex="50">
                <p class="primary-text mb-5">Emergency Address-1</p>
                <p>
                    <button mat-button class="primary-text"><mat-icon class="ico-extra-small">control_point</mat-icon> Click to Add</button>
                </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="50" class="separator-right">
                <p class="primary-text mb-5">Emergency Address-2</p>
                <p>
                    <button mat-button class="primary-text"><mat-icon class="ico-extra-small">control_point</mat-icon> Click to Add</button>
                </p>
            </div>
            <div fxFlex="50">
                <p class="primary-text mb-5">Office Address</p>
                <p>Reliance Corporate IT Park, RT Thane Belapur Road, Ghansoli Mumbai RCP, Maharashtra 400701
                </p>
            </div>
        </div> -->
    </div>
</div>