<div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
      <span class="title-text">Appointment Creation Request</span>
      </div>
      <mat-icon mat-dialog-close class="modal-close-icon" (click)="closeModal()">cancel</mat-icon>
    </div>
    <div mat-dialog-content fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="column" fxLayoutGap="5px" >
        <p>
          Do you want to request an appointment with Sir H N Relaince Foundation Hospital, Mumbai?
        </p>
      </div>
      <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="15px"
    class="mt-20"
  >
    <button mat-flat-button class="primary-outline-btn">No</button>
    <button mat-flat-button class="primary-btn ml-10">Yes</button>
  </div>
</div>
</div>
