<mat-toolbar class="header mat-elevation-z6" color="primary">
  <!-- <button mat-icon-button matTooltip="Back">
    <mat-icon>keyboard_backspace</mat-icon>
  </button> -->
  <span class="fill-remaining-space"></span>
  <span>Corporate Authorization : Requestor</span>
  <span class="fill-remaining-space"></span>
  <button
    mat-icon-button
    matTooltip="info"
    color="white"
    aria-label="Guidelines"
  >
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>
<!-- <h2><a [routerLink]="'/table'">Contacts</a></h2> -->
<div class="new-margin">
  <app-home></app-home>
</div>
