.privilege-leave-modal
  .mat-form-field-appearance-outline
  .mat-form-field-infix {
  padding: 14px 0 1px 0;
}
.privilege-leave-modal .mat-form-field-label-wrapper {
  top: -7px;
}

.privilege-leave-modal
  .mat-form-field-appearance-outline
  .mat-form-field-label {
  top: 16px;
}

.privilege-leave-modal
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick,
.privilege-leave-modal
  .mat-form-field-appearance-outline
  .mat-form-field-outline-thick,
.privilege-leave-modal
  .mat-form-field-appearance-outline
  .mat-form-field-outline {
  color: transparent;
}

.privilege-leave-modal
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-outline-ga {
  border-top-color: currentColor;
}

.privilege-leave-modal
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-6px) scale(0.75);
  color: #2469ff !important;
}

.privilege-leave-modal .mat-form-field-flex {
  height: 45px;
}

.privilege-leave-modal .remarks-input .mat-form-field-flex {
  height: 64px;
}

.cursor-pointer {
  cursor: pointer;
}

.privilege-leave-modal .header {
  margin-bottom: 20px;
}

.privilege-leave-modal .header {
  margin-bottom: 20px;
}

.privilege-leave-modal .sub-header,
.privilege-leave-modal .blue-icon {
  color: #2e6bdc;
}

.privilege-leave-modal .mat-form-field-wrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #0000001a;
  border-radius: 10px;
  padding: 0px;
}

.privilege-leave-modal .cancel-button,
.privilege-leave-modal .confirm-button {
  padding: 0px 40px;
}

.privilege-leave-modal .confirm-button {
  background: #2e6bdc;
  color: #ffffff;
}

.privilege-leave-modal .mt15 {
  margin-top: 15px;
}

.privilege-leave-modal .cancel-button,
.privilege-leave-modal .attach-button {
  background: #f6f6f6;
}

.privilege-leave-modal .attach-button {
  padding-left: 0px;
}

.privilege-leave-modal .dropdown-icon {
  position: absolute;
  right: -2px;
  top: 2px;
  color: #2e6bdc;
  background: #ffffff;
}

.privilege-leave-modal .mat-select-arrow {
  color: transparent;
}

.privilege-leave-modal textarea.mat-input-element {
  resize: none;
}

.privilege-leave-modal input.mat-input-element,
.privilege-leave-modal .mat-select-value,
.privilege-leave-modal textarea.mat-input-element {
  color: #7d7d7d;
}
