<div fxLayout="row" fxLayoutAlign="space-between center" class="mb-20">
  <h2 mat-dialog-title class="no-margin">PF Transfer</h2>
  <mat-icon mat-dialog-close class="modal-close-icon" (click)="closeModal()">cancel</mat-icon>
</div>
<div mat-dialog-content>
  <ol>
    <li><a href="">Insurance/PME- Claim/Coverage</a></li>
    <li><a href="">GHP Guidelines</a></li>
    <li><a href="">GHP Guidelines</a></li>
    <li><a href="">GTLI FAQ's</a></li>
    <li><a href="">GHP Undertaking of Coverage of Parents</a></li>
    <li><a href="">Medi Buddy Card Guidelines</a></li>
    <li><a href="">SOP - Mobile Application of Medi Buddy</a></li>
    <li><a href="">FAQ' for PME Booking done through ESS</a></li>
    <li> <a href="">GPA - HR Letter Format</a></li>
    <li><a href="">HR Letter for Death Claim Process</a></li>
  </ol>
</div>