
<div class="row center-align mb-10">
    <mat-card>
            <div class="container center-align content-row">
                <div class="row mb-10">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                            <button mat-raised-button (click)="onDownloadZ5()"  style="width:260px;"><strong>Download Z5 Data</strong></button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <div class="row mb-10">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                            <button mat-raised-button (click)="onDownloadJD()" style="width:260px;"><strong>Download JD Data</strong></button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <div class="row mb-10">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                            <button mat-raised-button (click)="onDownloadPosition()"  style="width:260px;"><strong>Download Position Data</strong></button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
    </mat-card>
</div>