<mat-card class="widget-wrapper main-card">
  <mat-card-header class="card-container header-container">
    <div class="mat-card-header-text">
      <mat-card-title class="card-container-left">Widgets</mat-card-title>
    </div>
  </mat-card-header>
</mat-card>

<div class="widget-card">
  <mat-chip-list>
    <mat-chip> <span>
        <mat-icon class="remove-icon">remove_circle</mat-icon>
      </span> Symptoms Checker </mat-chip>
    <mat-chip> <span>
        <mat-icon class="remove-icon">remove_circle</mat-icon>
      </span> Organisation Directory </mat-chip>
    <mat-chip> <span>
        <mat-icon class="remove-icon">remove_circle</mat-icon>
      </span> Feed </mat-chip>
    <mat-chip> <span>
        <mat-icon class="remove-icon">remove_circle</mat-icon>
      </span> Calender</mat-chip>
  </mat-chip-list>
</div>