<app-header-card (actionEvent)="viewAll()" [headerText]="'In Progress'" [icon]="''" [iconText]="'View All'"
  class="headercard-inprogress">
</app-header-card>
<div class="inprogress-cls">
  <div fxLayout="row" fxLayoutGap="15px" class="reimbursement-root pointer"
    *ngIf="inprogessLearningList?.length>0 else noData">
    <div fxFlex="18.75%" *ngFor="let item of inprogessLearningList;let i = index">
      <mat-card class="inprogress-card" (click)="openCourse(item)">
        <img mat-card-image src="{{item.imageUrl}}" alt="{{item.title}}" class="learing-course-img">
        <mat-card-content>
          <div class="title"><p>{{item?.title}}</p></div>
          <!-- <p class="description">
            {{item?.description}}
          </p> -->
          <p class="top-margin-7px"><small>{{item?.academy}}</small></p>
        </mat-card-content>
        <!-- <mat-card-footer> footer</mat-card-footer> -->
      </mat-card>
    </div>
  </div>
  <ng-template #noData>
    <p> NO DATA AVAILABLE</p>
  </ng-template>
</div>
<!-- <div class="inprogress-cls">
  <mat-grid-list cols="5" gutterSize="15px">
    <mat-grid-tile colspan="1" *ngFor="let item of inprogessLearningList;let i = index">
      <mat-card class="inprogress-card" >
        <img mat-card-image src="{{item.imageUrl}}" alt="{{item.title}}" class="learing-course-img">
        <mat-card-content>
          <p>
            {{item?.title}}
          </p>
          <p class="top-margin-7px"><small>{{item?.academy}}</small></p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->