<div fxLayout="column" fxLayoutGap="15px">
  <div fxLayout="row" fxLayoutAlign="space-between flex-start">
    <div fxLayout="column" fxLayoutGap="5px">
      <label class="small-text primary-text">Reimbursement Type</label>
      <div class="title-text bold">{{typetext}}</div>
    </div>
    <mat-icon mat-dialog-close class="modal-close-icon" (click)="onCancel()">cancel</mat-icon>
  </div>
  
  <div class="reimbursement-form-dialog primary-bg-accordion scrollable-content">
  <form>
    <mat-accordion>
      <mat-expansion-panel [expanded]="i"  *ngFor="let preEmpMed of pMFieldForm.controls;let i=index" [formGroup]="preEmpMed">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{typetext}} - {{i + 1}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutGap="15px" class="outline-input no-label">
            <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between flex-start">
              <div [fxFlex]="fxFlexColumn" fxLayout="column">
                <label class="small-text primary-text">Bill No.</label>
                <mat-form-field appearance="outline">
                  <input type="text" [maxLength]="20" (input)="firstSpaceValidate($event,i,preEmpMed)" formControlName="billNo" name="billNo" matInput placeholder="Bill No." />
                </mat-form-field>
              </div>
              <div [fxFlex]="fxFlexColumn" fxLayout="column">
                <label class="small-text primary-text">Bill Date</label>
                <mat-form-field appearance="outline">
                  <input readonly matInput type="text" [max]="setMaxDate" name="billDate" formControlName="billDate" [matDatepicker]="picker" />
                  <mat-datepicker-toggle matSuffix [for]="picker" class="primary-text"></mat-datepicker-toggle>
                  <mat-datepicker #picker>
                  </mat-datepicker>
                </mat-form-field>
              </div>
              <button mat-icon-button class="delete-ico" *ngIf="!data?.payLoad?.viewMode" (click)="deletePMForm(i)"></button>
            </div>
            <div fxLayout="row" fxLayoutGap="15px">
              <div fxFlex="50" fxLayout="column">
                <label class="small-text primary-text">Bill Amount</label>
                <mat-form-field appearance="outline">
                  <input type="text" matInput placeholder="Bill Amount" [maxLength]="12" (input)="pMNumericValidation($event,i,preEmpMed)" formControlName="requestedAmt" name="requestedAmt" />
                </mat-form-field>
              </div>
            </div>
            <!-- <div *ngIf="reimbursementType == 'Pre-employment Medical'" fxLayout="column">
              <label class="small-text primary-text">Expense Purpose:</label>
              <mat-form-field appearance="outline">
                <input type="text" matInput placeholder="Expense Purpose" />
              </mat-form-field>
            </div> -->
            <div fxLayout="column">
              <label class="small-text primary-text">Remarks</label>
              <mat-form-field appearance="outline">
                <input type="text" (input)="firstSpaceValidate($event,i,grp)"  maxlength="200" formControlName="remarks" name="remarks" matInput placeholder="Remarks" />
              </mat-form-field>
            </div>
            <div fxLayout="column">
              <label class="small-text primary-text">Attachment</label>
              <app-attach-drag-drop 
                    [attachmentText]="'Drag & Drop Here Or Upload Receipt'" 
                    (filesDropped)="onFileDrops($event, i)"
                    (viewClicked)="openPdf($event, i)"
                    [viewOnly]="data?.payLoad?.viewMode"
                    [existingFilesArray]="displayFiles[i]"
                    (filesDeleted)="deleteAttachmentFile($event,i)"
                    [acceptedFormats]="['pdf']"
                    fileSizeLimit="2000000">
                  </app-attach-drag-drop>
                <div *ngIf="data?.payLoad?.viewMode && pMFieldForm.controls[i]['controls'].attachment?.value ==''">
                  <p class="small-text">No Files</p>
                </div>
            </div>
          </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
  </div>

  <div fxLayout="column" fxLayoutGap="15px" *ngIf="!data.payLoad.viewMode">
    <div fxFlexAlign="flex-end">
      <button mat-flat-button class="primary-btn" (click)="addForm()">Add</button>
    </div> 
    <div fxFlex="row" fxFlexAlign="flex-end" fxLayoutGap="15px">
      <button *ngIf="!statusText" mat-flat-button (click)="onSubmitConfirmation(draft)" [disabled]="pMFieldForm.length ==0">Save As Draft</button>
      <button mat-flat-button (click)="onCancel()">Cancel</button>
      <button mat-flat-button class="secondory-btn" [disabled]="pMFieldForm.status=='INVALID' || pMFieldForm.length ==0" (click)="onSubmitConfirmation(submit)" >Submit</button> 
    </div>
  </div>
</div>