<div fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
        <div fxFlex="25%">
            <app-action-card [headerText]="'Awards'" [icon]="''" [contentHead]="displayRewards" [contentSub]="''"
                [class]="'blue-bg'" [routerUrl]="''"></app-action-card>
        </div>
        <div fxFlex="25%">
            <app-action-card [headerText]="'Nominations'" [icon]="''" [contentHead]="displayNomination" [contentSub]="''"
                [class]="'green-bg'" [routerUrl]="''"></app-action-card>
        </div>
        <div fxFlex="25%">
            <app-action-card [headerText]="'Hi-Fives'" [icon]="''" [contentHead]="'26'" [contentSub]="''" 
            [class]="'blue-bg'" [routerUrl]="''"></app-action-card>
        </div>
        <div fxFlex="25%">
            <app-action-card [headerText]="'Bonuses'" [icon]="''" [contentHead]="'04'" [contentSub]="''"
                [class]="'green-bg'" [routerUrl]="''"></app-action-card>
        </div>
    </div>
</div>