<div class="contact-details-component">
  <div fxLayout="column" fxLayoutGap="15px">
      <app-sub-header-card [headerText]="'Contact Information'" [icons]="iconsSub" (actionEvent)="editContactModal()"></app-sub-header-card>
      <div class="column">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="10px" fxFlex="40" class="separator-right">
                <div fxLayout="row" fxLayoutGap="10px">
                    <span class="primary-text" fxFlex="50">Corporate No:</span>
                    <span  fxFlex="50">8337945472</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span class="primary-text" fxFlex="50">Personal Phone No:</span>
                    <span  fxFlex="50">8347578585</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span class="primary-text" fxFlex="50">Residential Phone NO:</span>
                    <span  fxFlex="50">123456789</span>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="10px" fxFlex="40" class="ml-30">
                <div fxLayout="row" fxLayoutGap="10px">
                    <span class="primary-text" fxFlex="50">Official Mail ID:</span>
                    <span  fxFlex="50">Max.paynee@ril.com</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span class="primary-text" fxFlex="50">Offie Phone No:</span>
                    <span  fxFlex="50">+022 3456788</span>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <span class="primary-text" fxFlex="50">Personal Email ID:</span>
                    <span  fxFlex="50">Max.Paynee@gmail.com</span>
                </div>
            </div>
        </div>
   </div>

  </div>
</div>