<div fxLayout="column" fxLayoutGap="15px" class="submenu-root p-15">
    <div class="sub-title-text primary-text bold cursor-pointer" >My Information</div>
    <div class="sub-title-text primary-text cursor-pointer">Family</div>
    <div class="sub-title-text primary-text cursor-pointer">Nomination</div>
    <div class="sub-title-text primary-text cursor-pointer">Bank Account</div>
    <div class="sub-title-text primary-text cursor-pointer">My Team</div>
    <div class="sub-title-text primary-text cursor-pointer">Personal ID</div>
    <div class="sub-title-text primary-text cursor-pointer">Important Dates</div>
</div>