<div class="row center-align mb-10">
    <mat-card>
            <div class="container left-align jd-content-row">
                    <div class="row">
                        <div class="col-sm-12"><b>Z5 : </b><p>{{responseBody.ImZ5}}</p></div>
                    </div>    
                    <div class="row">
                        <div class="col-sm-12"><b>Business : </b><p>{{responseBody.Buisness}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><b>Class : </b><p>{{responseBody.Class}}</p></div> 
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><b>Location : </b><p>{{responseBody.Location}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><b>Education Required : </b><p>{{responseBody.EduReqd}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><b>Experience Required : </b><p>{{responseBody.ExpReqd}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><b>Job Description : </b><p>{{responseBody.JobDesc}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><b>Skill Comp : </b><p>{{responseBody.SkillComp}}</p></div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-12"><strong>Contract Type : </strong><span>{{responseBody.ContractType}}</span></div> 
                    </div> -->
                    
                    <!-- <div class="row">
                        <div class="col-sm-12"><strong>Posting : </strong><span>{{responseBody.EncryptedPostingid}}</span></div>
                    </div> -->
                   
                    <!-- <div class="row">
                        <div class="col-sm-12"><strong>Family : </strong><span>{{responseBody.Family}}</span></div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-sm-12"><strong>Functional Area : </strong><span>{{responseBody.FuncAreaText}}</span></div>
                    </div> -->
                    
                    <!-- <div class="row">
                        <div class="col-sm-12"><strong>Job Title : </strong><span>{{responseBody.Jobtitle}}</span></div>
                    </div> -->
                    
                    <!-- <div class="row">
                        <div class="col-sm-12"><strong>Posted On : </strong><span>{{responseBody.Postedon}}</span></div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-sm-12"><strong>Rectext : </strong><span>{{responseBody.Rectext}}</span></div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-sm-12"><strong>Segment : </strong><span>{{responseBody.Segment}}</span></div>
                    </div> -->
                     
                </div>  
    </mat-card>
</div>