/* View Policy SVG icons */
.internal-compliance-ico {
  background: url(../../assets/images/svg/internal-compliance-ico.svg);
}
.compensation-linked-ico {
  background: url(../../assets/images/svg/compensation-linked-ico.svg);
}
.corporate-policy-ico {
  background: url(../../assets/images/svg/corporate-policy-ico.svg);
}
.GI-policy-ico {
  background: url(../../assets/images/svg/GI-policy-ico.svg);
}
.general-guidelines-ico {
  background: url(../../assets/images/svg/general-guidelines-ico.svg);
}
.health-insurance-ico {
  background: url(../../assets/images/svg/health-insurance-ico.svg);
}
.IT-policy-ico {
  background: url(../../assets/images/svg/IT-policy-ico.svg);
}
.learning-assistance-ico {
  background: url(../../assets/images/svg/learning-assistance-ico.svg);
}
.lifestyle-assistant-ico {
  background: url(../../assets/images/svg/lifestyle-assistant-ico.svg);
}
.other-policies-ico {
  background: url(../../assets/images/svg/other-policies-ico.svg);
}
.policy-index-ico {
  background: url(../../assets/images/svg/policy-index-ico.svg);
}
.work-enabler-ico {
  background: url(../../assets/images/svg/work-enabler-ico.svg);
}
.team-build-rec-ico {
  background: url(../../assets/images/svg/team-build-rec-ico.svg);
}
.social-guidelines-ico {
  background: url(../../assets/images/svg/social-guidelines-ico.svg);
}
.handset-ico {
  background: url(../../assets/images/svg/handset-ico.svg);
}
.marriage-ico {
  background: url(../../assets/images/svg/marriage-ico.svg);
}
.maternity-ico {
  background: url(../../assets/images/svg/maternity-ico.svg);
}
.health-wellness-ico {
  background: url(../../assets/images/svg/health-wellness-ico.svg);
}
.vehical-ico {
  background: url(../../assets/images/svg/vehical-ico.svg);
}
.education-ico {
  background: url(../../assets/images/svg/education-ico.svg);
}
.loans-advance-ico {
  background: url(../../assets/images/svg/loans-advance-ico.svg);
}
.handset-outline-ico {
  background: url(../../assets/images/svg/handset-outline-ico.svg);
}
.benefit-ico{
  background: url(../../assets/images/svg/other-benefits-ico.svg);
}


