<div class="error-popup-modal">
        <h4 mat-dialog-title class="mat-dialog-title" align="center"><mat-icon class="mr10">info__outline</mat-icon> Error</h4>
        <div mat-dialog-content class="mat-dialog-content">
            Fuel / maintenance _ car / 2 wheeler and House rent allowance cannot be combined with any other choice pay elements.
        </div>
        <div mat-dialog-actions align="center">
          <button mat-button mat-dialog-close class="primary-btn" (click)="dismiss()">OK</button>
        </div>
</div>
