<div fxLayout="column" fxLayoutGap="15px" class="avail-sim-root outline-input no-label">
    <div fxLayout="row" fxLayoutGap="15px" class="mt-30">
        <div fxFlex>
            <table mat-table [dataSource]="dataSource" class="table-border">
                <ng-container matColumnDef="mobilenumber">
                    <th mat-header-cell *matHeaderCellDef > Mobile Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobilenumber}} </td>
                </ng-container>
                <ng-container matColumnDef="fromdate">
                    <th mat-header-cell *matHeaderCellDef> From Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.fromdate}} </td>
                </ng-container>
                <ng-container matColumnDef="todate">
                    <th mat-header-cell *matHeaderCellDef> To Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.todate}} </td>
                </ng-container>
                <ng-container matColumnDef="personaltotal">
                    <th mat-header-cell *matHeaderCellDef> Personal Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.personaltotal}} </td>
                </ng-container>
                <ng-container matColumnDef="officialtotal">
                    <th mat-header-cell *matHeaderCellDef> Official Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.officialtotal}} </td>
                </ng-container>
                <ng-container matColumnDef="grandtotal">
                    <th mat-header-cell *matHeaderCellDef> Grand Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.grandtotal}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div> 
    <div fxLayout="row" fxLayoutGap="15px" class="mt-30" fxLayoutAlign="flex-end center">  
        <button mat-flat-button class="btn primary-btn ml-10" > Check Usage </button>
    </div>
</div>