.manager-travel-component .manager-travel-header .border-right {
    border-right: 1px solid #D3D3D3;
    padding-right: 15px;
}
.manager-travel-component .manager-travel-header{
    margin-bottom: 15px;
}
