<mat-toolbar class="header mat-elevation-z6" color="primary">
  <!-- <button mat-icon-button matTooltip="Back">
    <mat-icon>keyboard_backspace</mat-icon>
  </button> -->
  <span class="fill-remaining-space"></span>
  <span>Corporate Authorization : Approver</span>
  <span class="fill-remaining-space"></span>
  <button
    mat-icon-button
    matTooltip="info"
    color="white"
    aria-label="Guidelines"
  >
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>
<div class="new-margin">
  <app-table></app-table>
</div>
