#cars {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
  height: 38px;
}
#mode {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 100%;
  height: 38px;
}
.kit-allowance-form .mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
.kit-allowance-form .form-input {
  width: 100%;
  height: 38px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.kit-allowance-form .form-label {
  color: #373a3c;
  font-size: 16px;
}
.kit-allowance-form .dropdown-icon {
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  position: absolute;
  right: 0;
  z-index: 2;
  padding: 6px 3px;
  color: #373a3c;
}
.kit-allowance-form .parent-element{
  position: relative;
}
.kit-allowance-form .clear-icon {
  float: right;
}
.kit-allowance-form .attach-icon-wrapper {
  width: 90px;
  height: 38px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  position: absolute;
  right:-1px;
  bottom: 0;
  display: flex;
  align-items: center;
}
.kit-allowance-form .attach-icon-wrapper .attach-text {
  color: #4d4848;
  font-size: 16px;
}
.kit-allowance-form .attach-icon {
  transform: rotate(225deg);
  font-size: 20px;
  color: #4d4848;
  margin-top: -6px;
  margin-left: 8px;
}
.kit-allowance-form .ml10 {
  margin-left: 10px;
}
.kit-allowance-form .clear-icon {
  position: absolute;
  right: 0;
}
.kit-allowance-form .clear-button {
  position: absolute;
  right: 0;
  padding: 0px;
  min-width: 24px;
}
.datepicker-component {
  border: 1px solid #cccccc;
  width: 100%;
}
.datepicker-component.mat-form-field-appearance-legacy
  .mat-form-field-underline {
    height: 0!important;
    background-color:transparent!important;
    bottom: 0!important;
}
.datepicker-component.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 !important;
  margin: 0 !important;
  border-top: 0 !important;
}
.datepicker-component.mat-form-field-appearance-legacy
  .mat-form-field-wrapper
  .mat-form-field-appearance-legacy
  .mat-form-field-infix
  input {
  height: 30px;
  padding: 0 0 0 10px;
}
.datepicker-component.mat-form-field-appearance-legacy
  .mat-form-field-suffix
  .mat-datepicker-toggle
  .mat-icon-button {
  height: 36px;
  width: 36px;
  font-size: 28px;
}
.datepicker-component.mat-form-field-appearance-legacy
  .mat-form-field-subscript-wrapper {
  position: initial !important;
  margin-top: 0 !important;
}
.kit-allowance-form .mat-dialog-actions {
  display: flex;
  justify-content: center;
}
