<div fxLayout="column" fxLayoutGap="15px" class="aviation-medical-form">
  <div fxLayout="row" fxLayoutAlign="space-between flex-start">
    <div fxLayout="column" fxLayoutGap="5px">
      <label class="small-text primary-text">Reimbursement Type</label>
      <div class="title-text bold">{{ reimbursementTextTitle }}</div>
    </div>
    <mat-icon
      mat-dialog-close
      class="modal-close-icon"
      (click)="onCancelAction()"
      >cancel</mat-icon
    >
  </div>
  <div class="reimbursement-form-dialog primary-bg-accordion scrollable-content">
    <form>
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="i"
          *ngFor="
            let monsoonKitForm of monsoonKitFormArray.controls;
            let i = index
          "
          [formGroup]="monsoonKitForm"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ reimbursementTextTitle }}-{{ i + 1 }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div
            fxLayout="column"
            fxLayoutGap="15px"
            class="outline-input no-label"
           
          >
            <div
              fxLayout="row"
              fxLayoutGap="15px"
              fxLayoutAlign="space-between flex-start"
            >
              <div fxFlex="45" fxLayout="column">
                <label class="small-text primary-text">Bill No.*</label>
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    placeholder="Bill No."
                    maxlength="20"
                    formControlName="billNo"
                  />
                </mat-form-field>
              </div>
              <div fxFlex="45" fxLayout="column">
                <label class="small-text primary-text">Bill Date*</label>
                <mat-form-field appearance="outline">
                  <input
                    readonly
                    matInput
                    type="text"
                    [max]="setMaxDate"
                    [matDatepicker]="picker"
                    formControlName="billDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                    class="primary-text"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker> </mat-datepicker>
                </mat-form-field>
              </div>
              <button
                mat-icon-button
                class="delete-ico"
                (click)="deleteMonsoonKitForm(i)"
               *ngIf="!data.payLoad.viewMode"
              ></button>
            </div>
            <div fxLayout="row" fxLayoutGap="15px">
              <div fxFlex="50" fxLayout="column">
                <label class="small-text primary-text">Requested Amount*</label>
                <mat-form-field appearance="outline">
                  <input
                    type="number"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    matInput
                    maxlength="13"
                    placeholder="Requested Amt."
                    formControlName="requestedAmount"
                  />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="15px">
              <div fxFlex="100" fxLayout="column">
                <label class="small-text primary-text">Remarks</label>
                <mat-form-field appearance="outline">
                  <input
                    type="text"
                    matInput
                    placeholder="Remarks"
                    formControlName="remarks"
                    maxlength="200"
                  />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column">
                 <label class="small-text primary-text">Attachment*</label>
              <app-attach-drag-drop
                [attachmentText]="'Drag & Drop Here Or Upload Receipt'"
                (filesDropped)="onFileDrops($event, i)"
                (viewClicked)="openPdf($event, i)"
                [viewOnly]="isView"
                [existingFilesArray]="displayFiles[i]"
                (filesDeleted)="deleteAttachmentFile($event, i)"
                [acceptedFormats]="['pdf']"
                [fileSizeLimit]="2000000"
              >
              </app-attach-drag-drop>
              <div
                *ngIf="
                  isView &&
                  monsoonKitFormArray.controls[i]['controls'].attachment?.value ==
                    ''
                "
              >
                <p class="small-text">No Files</p>
              </div>
              <!-- <label class="small-text primary-text">Attachment</label>
              <input
                type="file"
                class="hidden"
                #fileDropRef
                formControlName="attachment"
                (change)="fileBrowseHandler($event.target.files, i)"
              />
              <button
                mat-flat-button
                type="button"
                class="primary-btn attach-btn"
                *ngIf="
                  monsoonKitFormArray.controls[i]['controls'].attachment
                    .value == ''
                "
                (click)="fileDropRef?.click()"
              >
                <span>ATTACH</span>
              </button>

              <div (click)="deleteAttachmentFile(i)">
                <label
                  *ngIf="
                    monsoonKitFormArray.controls[i]['controls'].attachment
                      ?.value
                  "
                  >{{
                    monsoonKitFormArray.controls[i]["controls"].attachment.value
                  }}</label
                >
                <label *ngIf="isFileUploadedValid"
                  >Upload files with extension .pdf only and < 2MB size</label
                >
              </div> -->
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
  <div fxLayout="column" fxLayoutGap="15px" *ngIf="!data.payLoad.viewMode">
    <div fxFlexAlign="flex-end">
      <button mat-flat-button class="primary-btn" (click)="addMonsoonKitForm()">
        Add
      </button>
    </div>
    <div fxFlex="row" fxFlexAlign="flex-end" fxLayoutGap="15px">
      <button
        *ngIf="!isClaimStatusSubmitted"
        mat-flat-button
        (click)="monsoonKitSaveSubmitConfirmation('draft')"
        [disabled]="isClaimStatusSubmitted || monsoonKitFormArray.length == 0"
      >
        Save As Draft
      </button>
      <button mat-flat-button (click)="onCancelAction()">Cancel</button>
      <button
        mat-flat-button
        class="secondory-btn"
        [disabled]="
          monsoonKitFormArray.status == 'INVALID' ||
          monsoonKitFormArray.length == 0
        "
        (click)="monsoonKitSaveSubmitConfirmation('submit')"
      >
        Submit
      </button>
    </div>
  </div>
</div>
