<div fxLayout="row" fxLayoutAlign="space-between center" class="mb-20">
  <h2 mat-dialog-title class="no-margin">Installment Details</h2>
  <mat-icon mat-dialog-close class="modal-close-icon" (click)="closeModal()">cancel</mat-icon>
</div>
<div mat-dialog-content fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutGap="5px">
      <span class="font-weight-medium">Inward No.:</span>
      <span> {{data.rowData?.inwardNo}} </span>
    </div>
    <div fxLayout="row" fxLayoutGap="5px">
      <span class="font-weight-medium">Loan Type:</span>
      <span> {{data.rowData?.withdrawalDescription}} </span>
    </div>
  </div>
  <div class="scrollable-content" [style.overflow]="'auto'" [style.max-height.px]="'300'">
    <table mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0; else noContent"  class="table-border">
      <ng-container matColumnDef="installment_no">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Installment No.</th>
        <td mat-cell *matCellDef="let element"> {{element.installmentNo}} </td>
      </ng-container>
      <ng-container matColumnDef="member_balance">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Member Balance</th>
        <td mat-cell *matCellDef="let element"> {{element.memberBalance}} </td>
      </ng-container>
      <ng-container matColumnDef="company_balance">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Company Balance</th>
        <td mat-cell *matCellDef="let element"> {{element.companyBalance}} </td>
      </ng-container>
      <ng-container matColumnDef="posting_date">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Posting Date</th>
        <td mat-cell *matCellDef="let element"> {{element.postingDate}} </td>
      </ng-container>
      <ng-container matColumnDef="cheque_no">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Cheque Number</th>
        <td mat-cell *matCellDef="let element"> {{element.checkNo}} </td>
      </ng-container>
      <ng-container matColumnDef="cheque_date">
        <th mat-header-cell *matHeaderCellDef class="primary-text">Cheque Date</th>
        <td mat-cell *matCellDef="let element"> {{element.checkDate}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-template #noContent>
      <div class="pt-15">No data Available</div>
  </ng-template>
  </div>
  <button fxFlexAlign="flex-end" type="button" mat-flat-button class="primary-btn" (click)="closeModal()">Ok</button>
</div>