<div fxLayout="row" fxLayoutAlign="space-between center" class="mb-20">
  <h2 mat-dialog-title class="no-margin">Calculation of Eligibility Amount</h2>
  <mat-icon mat-dialog-close class="modal-close-icon" (click)="closeModal()">cancel</mat-icon>
</div>
<div mat-dialog-content fxLayout="column" fxLayoutGap="10px">
  <p>* Least of the following</p>
  <ol class="ml-20">
    <li>Basic salary * Number of months (As per the withdrawal term)</li>
    <li>Opening balance in the fund - Both Employee and Employeer</li>
    <li>Amount being applied</li>
  </ol>
</div>