<div fxLayout="row" fxLayoutAlign="space-between center" class="mb-15">
  <h2 mat-dialog-title class="no-margin">{{data.dialogTitle}}</h2>
  <mat-icon mat-dialog-close class="modal-close-icon" (click)="closeModal()">cancel</mat-icon>
</div>
<div mat-dialog-content>
  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutGap="15px">
      <img *ngIf="data.imageUrl" fxFlexAlign="center" [src]="data.imageUrl" height="200px" />
      <div *ngIf="data.popupText" [innerHTML]="data.popupText"></div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="data.buttonText" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="flex-end flex-end" class="mt-15">
    <button mat-flat-button class="primary-btn">{{data.buttonText}}</button>
</div>