
<div class="row center-align mb-10">
    <mat-card>
        <form id="z5form" [formGroup]="z5Form" (ngSubmit)="onSubmit(z5Form)">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Z5 Details</mat-label>
            <input type="input" matInput formControlName="z5name" placeholder="">
        </mat-form-field>
        <button mat-button color="primary" type="submit"><strong>Search</strong></button>
        </form>
    </mat-card>
</div>

<!-- <div class="row mb-10" *ngIf="isShown">
    <mat-card>
        <div class="container left-align content-row">
                <div class="row">
                        <div class="col-sm-6"><strong>Z5 : </strong><span>{{responseBody.Z5}}</span></div>
                        <div class="col-sm-6"><strong>Grade Range : </strong><span>{{responseBody.GradeRange}}</span></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Category : </strong><span>{{responseBody.Category}}</span></div>
                    <div class="col-sm-6"><strong>Experience Range : </strong><span>{{responseBody.ExpRange}}</span></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Business : </strong><span>{{responseBody.Business}}</span></div>
                    <div class="col-sm-6"><strong>Salary Range : </strong><span>{{responseBody.SalRange}}</span></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Segment : </strong><span>{{responseBody.Segment}}</span></div>
                    <div class="col-sm-6"><strong>Incentive Applicability : </strong><span>{{responseBody.Incentive}}</span></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Family : </strong><span>{{responseBody.Family}}</span></div>
                    <div class="col-sm-6"><strong>Asset Applicability : </strong><span>{{responseBody.Asset}}</span></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><strong>Class : </strong><span>{{responseBody.Class}}</span></div>
                    <div class="col-sm-6"><strong>Comunication ID Applicability : </strong><span>{{responseBody.ComunicationId}}</span></div>
                </div>
                <div class="row mb-10">
                    <div class="col-sm-6"><strong>Job Key : </strong><span>{{responseBody.Job}}</span></div>
                    <div class="col-sm-6"><strong>Background verification applicability : </strong><span>{{responseBody.Backgverif}}</span></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <button mat-raised-button (click)="onViewDetails()"><strong>View JD</strong></button>
                    </div>          
                </div>
        </div>         
    </mat-card>
</div> -->

<div class="row mb-10" *ngIf="isShown">
    <mat-card>
        <div class="container">
            <div class="row mb-10">
             <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Z5</b></td>
                            <td>:</td>
                            <td>{{responseBody.Z5}}/{{responseBody.Z5desc}}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><b>Grade Range</b></td>
                            <td>:</td>
                            <td>{{responseBody.GradeRange}}</td>
                        </tr>
                        <tr>
                                <td><b>Category</b></td>
                                <td>:</td>
                                <td>{{responseBody.Category}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><b>Experience Range</b></td>
                                <td>:</td>
                                <td>{{responseBody.ExpRange}}</td>
                            </tr>
                            <tr>
                                    <td><b>Business</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.Business}}</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><b>Salary Range</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.SalRange}}</td>
                                </tr>
                            <tr>
                                    <td><b>Segment</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.Segment}}</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><b>Incentive Applicability</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.Incentive}}</td>
                                </tr>
                            <tr>
                                    <td><b>Family</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.Family}}</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><b>Asset Applicability</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.Asset}}</td>
                                </tr>
                            <tr>
                                    <td><b>Class</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.Class}}</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><b>Comm ID Applicability</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.ComunicationId}}</td>
                                </tr>
                            <tr>
                                    <td><b>Job Key</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.Job}}</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><b>BGV Applicability</b></td>
                                    <td>:</td>
                                    <td>{{responseBody.Backgverif}}</td>
                                </tr>
                            <tr>
                                <td><b>Critical Job</b></td>
                                <td>:</td>
                                <td>{{responseBody.Crtjob}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><b>OD Restriction</b></td>
                                <td>:</td>
                                <td>{{responseBody.Odres}}</td>
                            </tr>
                            <tr>
                                <td><b>Holiday Compensation</b></td>
                                <td>:</td>
                                <td>{{responseBody.Holcomp}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><b>Attendance Flag</b></td>
                                <td>:</td>
                                <td>{{responseBody.Attflg}}</td>
                            </tr>
                    </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button mat-raised-button (click)="onViewDetails()" style="margin-right:20px;"><strong>View JD</strong></button>
                <button mat-raised-button (click)="onDownloadZ5()"><strong>Download</strong></button>
            </div>         
        </div>

        </div>         
    </mat-card>
</div>

<div class="row center-align mb-10" *ngIf="errorMsg.length > 0">
    <mat-card>
        <div class="errorMsg">
                {{errorMsg}} 
        </div>       
    </mat-card>
</div>
<!-- <ngx-spinner></ngx-spinner> -->