<app-breadcrumb-card [breadcrumb]="breadcrumbJson">
</app-breadcrumb-card>
<div fxLayout="column" fxLayoutGap="5px" class="my-compensation">
  <app-header-card [headerText]="'View Team Compensation History'" 
    [icon]="''" 
    [iconText]="''">
  </app-header-card>
  <mat-card>
    <div fxLayout="row" fxLayoutGap="10px" class="outline-input no-padding no-label">
      <label class="primary-text" fxLayoutAlign="center center">Employee Name: </label>
      <mat-form-field appearance="outline">
        <mat-select appearance="outline" [(value)]="selected" (selectionChange)="onSelect()">
          <mat-option *ngFor="let emp of empList" [value]="emp.userCode"> {{emp.userName}} </mat-option>
        </mat-select>
        <mat-icon class="dropdown-icon" color="primary"
          >keyboard_arrow_down</mat-icon
        >
      </mat-form-field>
    </div>
    <table class="table-border mt-30" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.reason ? element.reason: '-'}} </td>
      </ng-container>
      <ng-container matColumnDef="performanceRating">
        <th mat-header-cell *matHeaderCellDef> Performance Rating  </th>
        <td mat-cell *matCellDef="let element"> {{element.currentYearRating? element.currentYearRating: '-'}} </td>
      </ng-container>
      <ng-container matColumnDef="effeDate">
        <th mat-header-cell *matHeaderCellDef> Effective date </th>
        <td mat-cell *matCellDef="let element"> {{ getDateFormat(element.effectiveDate | date: 'dd/MM/yyyy') }} </td>
      </ng-container>
      <ng-container matColumnDef="bonus">
        <th mat-header-cell *matHeaderCellDef> Bonus (Rs.) </th>
        <td mat-cell *matCellDef="let element"> {{element.bonusAmount}} </td>
      </ng-container>
  
      <ng-container matColumnDef="increment">
        <th mat-header-cell *matHeaderCellDef> Increment (Rs.) </th>
        <td mat-cell *matCellDef="let element"> {{element.incrementAmount}} </td>
      </ng-container>
  
      <ng-container matColumnDef="newPay">
        <th mat-header-cell *matHeaderCellDef> New committed Pay (Rs.)</th>
        <td mat-cell *matCellDef="let element"> {{element.awardAmount? element.awardAmount: 'NA'}} </td>
      </ng-container>
      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> <img [src]="element.imageUrl" (click)="openPdf(element)" height="20"/> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <div *ngIf="!isData" class="mt-15 mb-15">
      <p>No Data</p>
    </div>
  </mat-card>
</div>

