<mat-card>
  <div fxLayout="row" fxLayoutGap="15px">
    <div mat-card-avatar class="reminder-image"></div>
    <div fxLayout="column" fxLayoutGap="10px" fxFlexAlign="center">
        <div class="sub-title-text bold">Reminder</div>
        <div>Declare your IT saving investments for this financial year.</div>
        <div>IT declaration will help you reduce your taxable income, thereby decreasing your income tax. 
          <a class="anchor-text">View and Submit IT Declaration</a></div>
        <div fxFlexAlign="end">
          <button mat-flat-button class="primary-text">VIEW MORE</button>
        </div>
    </div>
  </div>
</mat-card>
