<div class="expense-report-manager-root"> 
    <app-breadcrumb-card [breadcrumb]="breadcrumbJson"></app-breadcrumb-card>
    <div fxLayout="column" fxLayoutGap="15px">
        <div fxFlex="100%">
            <app-header-card [headerText]="'Expenses Report (Manager)'"></app-header-card>
        </div>
        <div fxFlex="100%">
            <mat-tab-group class="tab-outlined">
                <mat-tab label="Reimbursement">
                    <ng-template mat-tab-label>
                        <label matTooltip="Reimbursement details with supporting  documents">Reimbursement</label>
                      </ng-template>
                    <app-manager-reimbursements></app-manager-reimbursements>
                </mat-tab>
                <mat-tab label="Travel">
                    <ng-template mat-tab-label>
                        <label matTooltip="Travel Reimbursement details with supporting  documents">Travel</label>
                      </ng-template>
                    <app-manager-travel></app-manager-travel>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
  </div>