// define Layout structure

// Header Css starts here
.header-wrapper {
  align-items: center;
  background: $color-primary;
  display: flex;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 5;
  mat-icon{
    color: $color-white;
  }
  .branding-col {
    align-items: center;
    display: flex;
    max-width: 260px;
    position: relative;
  }
  .menu-toggle {
    width: 65px;
    text-align: center;
    height: 56px;
    background-color: $color-primary;
    border: 0;
    color: $color-white;
  }
  .brand-wrapper {
    margin-left: 20px;
  }
  .brand-name {
    color: $color-white;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.5px;
    margin: 0 0 0 6px;
  }
  .actions-wrapper {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
     .btn-notification{
       margin-right: 15px;
     }

  }
}

// Menu css Starts here
.main-content-container {
  mat-drawer-container {
    height: calc(100vh - 65px);
    top: 65px !important;
    mat-drawer-content {
      padding: 15px;
      height: calc(100vh - 95px);
    }
  }
  mat-nav-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    mat-list-item {
      color: $color-primary !important;
      :hover {
        background-color: #f5f5f5;
        color: $color-primary;
        :after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background-color: $color-primary;
          height: 48px;
          width: 9px;
        }
      }
    }
  }
}

mat-grid-tile {
  padding-top: 0 !important;
  figure.mat-figure {
    position: relative !important;
    align-items: flex-start !important;
  }
}


// Footer Css Starts here


