<div class="mt-15">
    <div fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="15px" class="applied-tab-items">
            <div fxFlex="50%">
                <div class="title-text primary-text bold mb-5">Competitive Reseach</div>
                <div class="mb-20">2 hours/Week | Product</div>
                <div class="mb-5 bold">Posted by Mr.XYZ</div>
                <div class="small-text">Posted on Sep 01, 2020 | 1 Month ago</div>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end stretch">
                <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="15px">
                    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="15px" class="primary-text mb-20">
                        <mat-icon class="mr-10">visibility</mat-icon>
                        <mat-icon>reply</mat-icon>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="50px">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">
                            <div class="primary-text mb-5">Status</div>
                            <div class="bold">
                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="cursor-pointer">
                                    <span>Open</span>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">
                            <div class="primary-text mb-5">Applied on:</div>
                            <div class="bold">12 Sept 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="15px" class="applied-tab-items">
            <div fxFlex="50%">
                <div class="title-text primary-text bold mb-5">Competitive Reseach</div>
                <div class="mb-20">2 hours/Week | Product</div>
                <div class="mb-5 bold">Posted by Mr.XYZ</div>
                <div class="small-text">Posted on Sep 01, 2020 | 2 Days ago</div>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end stretch">
                <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="15px">
                    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="15px" class="primary-text mb-20">
                        <mat-icon class="mr-10">visibility</mat-icon>
                        <mat-icon>reply</mat-icon>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="50px">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">
                            <div class="primary-text mb-5">Status</div>
                            <div class="bold">
                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="cursor-pointer">
                                    <mat-icon>info</mat-icon> <span class="error-text">Rejected</span>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">
                            <div class="primary-text mb-5">Applied on:</div>
                            <div class="bold">12 Sept 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="15px" class="applied-tab-items">
            <div fxFlex="50%">
                <div class="title-text primary-text bold mb-5">Competitive Reseach</div>
                <div class="mb-20">2 hours/Week | Product</div>
                <div class="mb-5 bold">Posted by Mr.XYZ</div>
                <div class="small-text">Posted on Sep 01, 2020 | 2 Days ago</div>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end stretch">
                <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="15px">
                    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="15px" class="primary-text mb-20">
                        <mat-icon class="mr-10">visibility</mat-icon>
                        <mat-icon>reply</mat-icon>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="50px">
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">
                            <div class="primary-text mb-5">Status</div>
                            <div class="bold">
                                <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" class="cursor-pointer">
                                    Close
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">
                            <div class="primary-text mb-5">Applied on:</div>
                            <div class="bold">12 Sept 2020</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>